img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.bs-callout {
  padding: 6px 8px;
  margin-top: 6px;
  margin-bottom: 6px;
  border: 1px solid #dee2e6;
  border-left-width: 0.3rem;
  border-radius: 0.25rem;
}

.bs-callout-output {
  border-left-color: purple;
}

.bs-callout-info {
  border-left-color: teal;
}

.bs-callout h4 {
  margin-top: 0rem;
}

.bs-callout p {
  margin-bottom: .9rem;
  font-size: 90%;
}

h2 {
  margin-top: .5rem;
  font-size: 2rem;
}